h1{
	text-align: center;
	color: white;
}
/*.topPage{
	height: 200px;
	width: 200px;
	margin: auto;
	background color: black;*/
}
div {
	height: 200;
	width: 200;
	margin: auto;
	display: block;
}
button{
	background-color: red;

}

}
body{
	background-color: black;

}
.top{
	background-color: #248f24;
	margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    color: #ffcccc;
    font-size: 40px;
    opacity: 1px;
    border: bold;
    border-color: white;
}
.div{
	background-color: white;
	height: 200px;
	width: 200px;
}
.bb{
	width: 200px;
	height: 75px;
	outline: white;
	opacity: .5px;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

.allCards{
	float: left;
/*	width: 65px;
   	height: 70px;
   	border: solid 5px grey;
   	margin: 20px;
   	display: block;
*/

}
