h1{
	text-align: center;
	color: white;
}
/*.topPage{
	height: 200px;
	width: 200px;
	margin: auto;
	background color: black;*/
}
div {
	height: 200;
	width: 200;
	margin: auto;
	display: block;
}

body{
	background-color: black;

}

.allCards{
	float: left;
	display: inline-block;




#logo {
	height: 20px;
	width: 20px;
}

}
/*
	$('div').click(function(event){
		$('this') === span that was clicked attr id
	})
*/